/* civicrm/admin/extensions */
/* Hide scrollbars on all td elements */
div#extensions td
{
  overflow: hidden !important;
}

/* Set background colour for enabled extensions */
div#extensions tr.extension-installed,
div#extensions tr.extension-installed td
{
  background-color: #DDFFDD !important;
}

/* Stop text in table on event dashboard from overlapping */
tr.crm-event td
{
  overflow: hidden;
}

/* On contribution pages, you can't see that elements in the dropdowns are disabled,
 Also, enable them as they should be clickable */
a.action-item.crm-hover-button.disabled
{
  opacity: 0.6;
  pointer-events: inherit;
}

/* civicrm/admin/job Hacks to stop the table being huge */
.page-civicrm-admin.page-civicrm-admin-job #ltype table
{
  max-width: 100% !important;
  display: block;
  word-wrap: break-word;
}
.page-civicrm-admin.page-civicrm-admin-job #ltype table tr th td
{
  width: inherit !important;
  overflow: scroll;
}

.page-civicrm-admin.page-civicrm-admin-job #ltype table tr th:nth-of-type(2),
.page-civicrm-a.page-civicrm-admin-job #ltype table tr th:nth-of-type(2),
.page-civicrm-admin.page-civicrm-admin-job #ltype table tr td:nth-of-type(2),
.page-civicrm-a.page-civicrm-admin-job #ltype table tr td:nth-of-type(2)
{
  width: 200px;
  max-width: 300px;
  overflow: hidden;
}

/* Adjust menubar height */

#civicrm-menu
{
  height: 40px;
}

#civicrm-menu>li.menumain
{
  height: 40px !important;
  line-height: 25px;
}

a.has-submenu
{
  height: 40px;
}

#civicrm-menu a
{
  color: #fff !important;
}

#civicrm-menu>li#crm-qsearch.menumain
{
  line-height: 40px;
}

#civicrm-menu .form-text
{
  color: #fff;
}

/* Fix the height of the submit buttons div */
.page-civicrm-contact-view #crm-container .crm-submit-buttons
{
  height: auto;
}

/* Allow for fontawesome icon on left of button */
.crm-container input.crm-form-submit
{
  padding-left: 25px !important;
}

/* Make sure back button has visible fontawesome icon */
.crm-container span.crm-button-type-back i,
.crm-container span.crm-button-type-back input
{
  color: #363342 !important;
}

/* Align fontawesome on button correctly */
.crm-i-button>.crm-i
{
  top: .5em;
}

/* Make labels display correctly */
.label
{
  white-space: inherit;
}

.crm-container .crm-section .label
{
  width: 25%;
}

.crm-container .crm-section .content
{
  margin-left: 25%;
}

/* Make select2 display properly */
.select2-container a.select2-choice
{
  height: 2.6em;
}

.select2-container .select2-choice .select2-arrow
{
  width: 2em;
  padding: 0 !important;
}

.crm-container .crm-pager
{
  height: auto;
}

/* Fix for dropdown menus being cut-off on contact page */
.page-civicrm-contact-view .crm-contact-page #mainTabContainer .ui-tabs-nav
{
  padding: 0 !important;
  margin: 0 !important;
}

.page-civicrm-contact-view #crm-main-content-wrapper
{
  overflow: visible !important;
}

/* Width of checkbox field in searches */
.crm-container form .crm-content-block .crm-results-block div table:not(.crm-table-group-summary) th:first-child,
.crm-container form .crm-content-block .crm-results-block div table:not(.crm-table-group-summary) td:first-child
{
  width: 35px;
}

/* Fix profile form being displayed with two narrow columns on left/right */
.page-civicrm-admin .CRM_UF_Form_Group#Group td.html-adjust
{
  width: auto;
}

/* Profile don't show extra border around buttons - span probably shouldn't have crm-button set */
.crm-container span.crm-button
{
  border: 0;
}

/* Stop checkboxes being hidden on contribution pages (should be added by js)
.crm-container input[type=checkbox], .crm-container input[type=radio] {
  display: block;
}
*/

/* Case dashboard "counts" alignment */
tr.crm-case-caseStatus td.label {
  display: table-cell;
  line-height: inherit;
  color: inherit;
}

/* Case dashboard buttons spacing */
#crm-container div.crm-case-dashboard-buttons {
  height: auto !important;
  margin: 10px;
}

/* admin options labels */
td.crm-admin-options-label {
  color: inherit !important;
}

/* On case overview, show summary elements without border and properly aligned */
#crm-container table.case-summary tr td.label {
  padding: 4px 4px 4px 20px;
  border: none;
  vertical-align: middle;
}

/* Full width datatable in container */
table .crm-ajax-table.dataTable {
  width: auto !important;
}

/* For info-panel display lines between each element and space them nicely */
table.crm-info-panel tr {
  border-bottom: 1px solid rgb(211, 222, 226) !important;
}

table.crm-info-panel td {
  border: none !important;
  padding: 8px;
  display: inline-block;
}

/* Pad control elements on case */
div.case-control-panel > div {
  padding: 5px 20px;
}

/* Activity form custom data view full-width */
table.crm-info-panel tr.crm-activity-form-block-custom_data td {
  display: block;
  padding: inherit;
}

.page-civicrm-activity .CRM_Activity_Form_Activity .crm-accordion-wrapper,
.page-civicrm-activity .CRM_Activity_Form_Activity .crm-accordion-header,
.page-civicrm-activity .CRM_Activity_Form_Activity .crm-accordion-body {
  margin: inherit;
}

.crm-container .CRM_Activity_Form_Activity>.crm-activity-view-block>.crm-info-panel tr td.section-shown {
  padding: inherit !important
}

